{#模板框架#}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <link href="{% static 'css/aos.css' %}" rel="stylesheet">
    <link href="{% static 'css/css2.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/aos.js' %}"></script>
    
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        table,tr,td{
            border: 1px solid black
        }
        hr{
            border: 5% solid black;
        }
    </style>
    <style>
        /* 初始状态：没有旋转 */
        #randomimg {
            transition: transform 0.5s ease-in-out;
            cursor: pointer;
        }

        /* 旋转的类 */
        .rotate {
            transform: rotate(360deg);
        }
    </style>



    <title>页面替换算法</title>

    <!-- Favicon -->
     <link rel="icon" href="{% static 'Arch.ico' %}" type="image/x-icon">
</head>
<body style="font-family: 'Roboto Mono', monospace;">
    <script>
        AOS.init();
    </script>
    
    <div class="container">

    

    <h1 style="text-align: center; margin-top: 5%;"><a href="{% url 'index' %}" style="text-decoration: none;">页面替换算法可视化</a></h1>
        <hr>
    <div style=" font-size: large;">

        <form action="{% url 'result' %}" method="POST">
            {% csrf_token %}
            {%comment%}
            {{ form }}
            {%endcomment%}
            
            <div class="form-row" style="display: flex; justify-content: center; ">
                <div class="form-group col"  style="text-align: center;">
                    <label for="seq">页面序列</label>
                <div style="display: flex; justify-content: center;  align-items: center; ">
                    <input type="text" name="seq" id="seq" class="form-control"
                           placeholder="ex. 7 0 1 2 0 3 0 4 2 3 0 3 2 1 2 0 1 7 0 1" style="width: 50%; margin: 20px;"
                           required {% if pageRefsIn %} value="{{ pageRefsIn }}" {% endif %} >
                    <img id="randomimg" src="{% static 'sezi.svg' %}" width="30" height="30" style="cursor: pointer; " onclick="randomizeInputs()" title="随机产生">
                </div>
            </div>
        
           
        
        </div>
        
            <div class="form-row">
                <div class="form-group col" style="text-align: center;">
                    <label for="page_size">序列长度</label>
                    <input type="text" name="page_size" id="page_size" class="form-control" placeholder="ex. 6" style="width: 18%; margin: auto;  text-align: center;" required {% if pageRefs %} value="{{ pageRefs }}" {% endif %}>
                </div>
            </div>
            
            <div class="form-row">
                <div class="form-group col" style="text-align: center;">
                    <label for="fsize">物理块数</label>
                    <input type="text" name="fsize" id="fsize" class="form-control" placeholder="ex. 3" style="width: 18%; margin: auto; text-align: center;" required {% if frameCount %} value="{{ frameCount }}" {% endif %}>
                </div>
            </div>





 

                 <div class="form-group" style="margin: 0; padding: 5px; text-align: center;"  >
                    <input type="submit" class="btn btn-primary">
                </div>
 


        </form> 
    </div>
        
    </div>

    <div>
        <hr>
        {% block result %}
        {% endblock %}
    </div>

<script>
function randomizeInputs() {
    // 获取用户输入的页面长度值
    var pageSize = document.getElementById("page_size").value;
    if (pageSize === "") {
        pageSize = 20; // 如果没有输入，可以设置一个默认值，比如20
    }
    // 生成随机页面序列
    var pageRefsIn = "";
    for (var i = 0; i < pageSize; i++) { // 假设我们想要一个长度为20的随机序列
        pageRefsIn += Math.floor(Math.random() * 10); // 生成一个0-9之间的随机数
        if (i < pageSize) pageRefsIn += " "; // 在数字之间添加空格，除了最后一个数字
    }
    
    // 获取用户输入的物理块数
    var frameCount = document.getElementById("fsize").value;
    if (frameCount === "") {// 如果没有输入,生成随机物理块数
        frameCount = Math.floor(Math.random() * 10) + 1; // 生成一个1-10之间的随机数
    }
    

    // 将生成的值赋值给对应的输入字段
    document.getElementById("seq").value = pageRefsIn;
    document.getElementById("fsize").value = frameCount;

    const img = document.getElementById('randomimg');

    // 在每次点击时切换旋转类
    img.classList.add('rotate');

    // 动画完成后移除旋转类，准备下次点击
    img.addEventListener('transitionend', function() {
        img.classList.remove('rotate');
    });
}
</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var icon = document.querySelector(".rotate-icon");
        icon.addEventListener("mouseover", function() {
            icon.style.transform = "rotate(360deg)";
        });
        icon.addEventListener("mouseout", function() {
            icon.style.transform = "rotate(0deg)";
        });
    });
</script>

</body>





<footer style="font-family: 'Roboto Mono', monospace; text-align: center">
    <a href="https://www.imu.edu.cn">IMU</a>
    操作系统期末实验成员：
    <a href="https://github.com/CheeseSilly" >文天鑫</a>
    <a href="https://github.com/JAMESONG-common" >宋伊建</a>
    <a href="https://github.com/Overbtoff" >沈家玺</a>
    <a href="https://github.com/log1011z" >唐麟沙</a>
    日期：11/2024
</footer>
</html>